@import "~antd/dist/antd.less"; // add ant styles
@import "~antd/es/style/themes/default.less"; // apply default theme
@import "./styles/ant-vars.less"; // ...and override with our own theming

.cell-viewer {
  // Style prefixing means antd's body rules don't get applied.
  // This is great! It means antd doesn't mess with the look of notebooks!
  // But the app still depends on those styles to look right, so they're duplicated below.
  color: #bfbfbf;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei",
    "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-variant: tabular-nums;
  line-height: 1.5;
  font-feature-settings: "tnum";
}
